@font-face{
    font-family: quicksand;
    src: url("../font_files/Quicksand-Medium.ttf")
}

*{
    font-family:  quicksand;
}

.left-nav-bar{
    font-size:15px;
    z-index:2;
    position:fixed;
    left:0;
    top:0;
    display:block;
    background-color:white;
    width:20%;
    color:#002246;
    text-align:center;
    box-shadow:0 0 10px #002246;
    height:100%;
}

.left-nav-bar h3{
    margin-top:10px;
}

ul{
    padding:0;
}

ul li{
    text-align:left;
    list-style-type:none;
    padding:0;
    margin:0 0 4px 0;
}

ul li a{
    text-decoration:none;
    color:#002246;
    display:block;
    padding:5px 40px;
}

ul li a:hover{
    background-color:#002246;
    color:white;
}

body{
    margin:4.7% 0 0 20%;
}

.top-nav-bar{
    z-index:1;
    background-color:white;
    box-shadow:0 0 8px #002246;
    display:block;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:8px 0 8px 22%;
}

ul li i{
    margin-right:4px;
}

#home, #registeruser{
    padding-left:2px;
}

#schedule, #truck{
    padding-left:1px;
}

.input-box{
    border:1px solid #002246;
    border-radius:3px;
    padding:10px;
    margin:4px 0;
    width:300px;
    box-sizing:border-box;
    outline:none;
    color:#002246;
}