@font-face{
    font-family: quicksand;
    src: url("../font_files/Quicksand-Medium.ttf")
}

*{
    font-family:  quicksand;
    color:#002246;
}

body{
    margin:52px 0 0 260px;
}

.body_container{
    padding:20px;
}

.logo_title{
    padding:10px 0;margin:0;
    color:#002246;
    display:inline-block;
    width:260px;
    text-align:center;
}

.top_side_settings{
    float:right;
    padding-top:0px;
    font-size:20px;
    margin-right:40px;
}

.top_side_settings i{
    margin-left:30px;
    cursor:pointer;
    width:40px;
    border-top:4px solid transparent;
    padding:10px 0px;
    text-align:center;
}

.top_side_settings i:hover{
    border-top:4px solid #002246;
}

.left-nav-bar{
    font-size:15px;
    z-index:1;
    position:fixed;
    left:0;
    top:0;
    display:block;
    background-color:white;
    width:260px;
    color:#002246;
    text-align:center;
    box-shadow:0 0 10px #002246;
    height:100%;
    padding:60px 0 0 0;
}

.left-nav-bar h3{
    margin-top:10px;
}

ul{
    padding:0;
}

ul li{
    text-align:left;
    list-style-type:none;
    padding:0;
    margin:0 0 4px 0;
}

ul li a{
    text-decoration:none;
    color:#002246;
    display:block;
    padding:5px 30px;
    border-left:4px solid transparent;
}

ul li a:hover{
    background-color:#DCDCDC;
}

.logo_space{
    display:inline-block;
    width:25px;
}

.top-nav-bar{
    z-index:2;
    background-color:white;
    box-shadow:0 0 8px #002246;
    display:block;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:0;
}

ul li i{
    margin-right:4px;
}

.input-box{
    border:1px solid #002246;
    border-radius:3px;
    padding:10px;
    margin:4px 0;
    width:300px;
    box-sizing:border-box;
    outline:none;
    color:#002246;
    text-transform:capitalize;
}

.button{
    border:1px solid #002246;
    background-color:white;
    padding:10px 20px;
    border-radius:3px;
    cursor:pointer;
    color:#002246;
}
.button:hover{
    box-shadow:0 0 3px #002246;
}